<!--<section class="alert__container">-->
  <%# if @work.errors.any? %>
<!--    <div class="alert alert-warning">-->
<!--      A problem occurred, could not update <%#= @work.category %>-->
<!--      <ul>-->
        <%# @work.errors.each do |column, message| %>
<!--          <div class="error-message red">-->
<!--            <li>-->
<!--              <p><%#= column %> <%#= message %></p>-->
<!--            </li>-->
<!--          </div>-->
        <%# end %>
<!--      </ul>-->
      <%# end %>
<!--    </div>-->
<!--</section>-->

<h2>Add a New Work</h2>

<%= render partial: "form", locals: { action_name: "New"} %>